# tensorflow
# numpy
# wfdb
# scikit-learn
# matplotlib
# scipy
# cudatoolkit

python -c "import tensorflow as tf; print(tf.config.list_physical_devices('GPU'))"


conda create --name ekg_gpu python=3.10 -y
conda activate ekg_gpu
conda install -c conda-forge cudatoolkit=11.8 tensorflow -y
pip install numpy wfdb scikit-learn matplotlib scipy
pip install jupyter jupyter_http_over_ws





conda create --name conda_ekg python=3.10 -y
conda activate conda_ekg
conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0 -y
pip install "tensorflow<2.11"
pip uninstall numpy -y
pip install "numpy<2"
pip install wfdb scikit-learn matplotlib scipy
pip install jupyter jupyter_http_over_ws


!pip install tensorflow "numpy<2" pandas==2.2.2 wfdb scikit-learn matplotlib scipy
!git clone https://FBI223:TOKEN_KEY@github.com/FBI223/EKG_PROJEKT.git
%cd /content/EKG_PROJEKT
!git pull origin master
!python /content/EKG_PROJEKT/main.py

