


1) WSL


sudo apt update
sudo apt upgrade -y
sudo apt install nvidia-cuda-toolkit -y

conda create --name ekg_gpu python=3.10 -y
conda activate ekg_gpu
conda config --add channels conda-forge
conda config --add channels rapidsai
conda config --add channels nvidia
conda config --add channels defaults
conda config --show channels
conda install -c rapidsai -c nvidia -c conda-forge -c defaults cudf=23.06 python=3.10 cudatoolkit=11.8 dask-cudf -y
pip install tensorflow "numpy<2" pandas==2.2.2 wfdb scikit-learn matplotlib scipy biosppy
conda install -c conda-forge -c nvidia cuda-python=11.8 cupy=12.0 -y






2) WINDOWS


conda create --name conda_ekg python=3.10 -y
conda activate conda_ekg
conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0 -y
pip install "tensorflow<2.11"
pip uninstall numpy -y
pip install "numpy<2"
pip install wfdb scikit-learn matplotlib scipy
pip install jupyter jupyter_http_over_ws




3) GOOGLE COLAB

!pip install tensorflow "numpy<2" pandas==2.2.2 wfdb scikit-learn matplotlib scipy biosppy cudf
!git clone https://FBI223:TOKEN_KEY@github.com/FBI223/EKG_PROJEKT.git
%cd /content/EKG_PROJEKT
!git pull origin master
!python /content/EKG_PROJEKT/main.py

