


1) WSL

conda create --name ekg_gpu python=3.10 -y
conda activate ekg_gpu
conda install -c nvidia -c conda-forge -c defaults python=3.10 cudatoolkit=11.8 -y
pip install tensorflow "numpy<2" pandas==2.2.2 wfdb scikit-learn matplotlib scipy biosppy
conda install -c conda-forge -c nvidia cuda-python=11.8  -y




2) WINDOWS

conda create --name conda_ekg python=3.10 -y
conda activate conda_ekg
conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0 -y
pip install "tensorflow<2.11"
pip uninstall numpy -y
pip install "numpy<2"
pip install wfdb scikit-learn matplotlib scipy
pip install jupyter jupyter_http_over_ws


conda install -c conda-forge imbalanced-learn




3) GOOGLE COLAB

!pip install tensorflow "numpy<2" pandas==2.2.2 wfdb scikit-learn matplotlib scipy biosppy wfdb
!git clone https://FBI223:TOKEN_KEY@github.com/FBI223/EKG_PROJEKT.git
%cd /content/EKG_PROJEKT
!git pull origin master
!python /content/EKG_PROJEKT/main.py

